/*
 * Colours
 * Contasts calculated with: http://leaverou.github.io/contrast-ratio
 * to ensure accessibility is good.
 *
 * bright red: hsl(351,80%,48%) - contrast 4.8 (AA);
 * dark red: hsl(351,80%,38%) - contrast 7.1 (AAA);
*/

/**
 * Base elements
 */
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre {
  margin-top: 0;
  margin-bottom: 1em;
}
html{
  font: 1em/1.625em "adelle","Georgia",serif;
  overflow-y:scroll;
  min-height:100%;
  color: hsl(0,0%,20%);
  -webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: hsl(351,80%,38%);
}
body {
  font-size: 1.125em; /* 18px */
  font-size: 1.125rem;
  line-height: 1.5em;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * A more considered reset; more of a restart... 
 * As per: csswizardry.com/2011/10/reset-restarted
 */
article,aside,details,figcaption,figure,footer,
header,hgroup,main,menu,nav,section{
  display:block;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
strong,b,mark{
  font-weight:bold;
  font-style:inherit;
}
em,i,cite,q,address,dfn,var{
  font-style:italic;
  font-weight:inherit;
}
abbr[title],dfn[title]{
  cursor:help;
  border-bottom:1px dotted;
}
ins{
  border-bottom:1px solid;
}
a,u,ins{
  text-decoration:none;
}
del,s{
  text-decoration:line-through;
}
img{
  border:none;
  font-style:italic;
}

/**
 * Normalize `sup` and `sub` elements.
 */
sub,
sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
  sup{
    top:-0.5em;
  }
  sub{
    bottom:-0.25em;
  }

/**
 * Set the colour for highlighted text
 */
::selection {
  background-color: hsl(351,80%,38%);
  color: hsl(0,0%,100%);
}
::moz-selection {
  background-color: hsl(351,80%,38%);
  color: hsl(0,0%,100%);
}

/*------------------------------------*\
    quotes
\*------------------------------------*/
/**
 * Big up @boblet: html5doctor.com/blockquote-q-cite
 */
q{ quotes:"“" "" "“" ""; }
  q:before{ content:"“"; content:open-quote; }
  /* q:after{ content:"”"; content:close-quote; } */
  q q:before{ content: "“"; content: open-quote; }
  /* q q:after{ content: "”"; content: close-quote; } */

blockquote{ quotes: "“" "”"; }
  blockquote p:before{ content: "“"; content: open-quote; }
  blockquote p:after{ content: ""; content: no-close-quote; }
  blockquote p:last-of-type:after{ content: "”"; content: close-quote; }


/**
 * 
   <blockquote>
       <p>Insanity: doing the same thing over and over again and expecting
       different results.</p>
       <b class=source>Albert Einstein</b>
   </blockquote>
 * 
 */
blockquote{
  /**
    * .4em is roughly equal to the width of the opening “ that we wish to hang.
    */
  text-indent:-0.4em;
 
  p:last-of-type{
    margin-bottom:0;
  }
}
.source{
  display:block;
  text-indent:0;
}
  .source:before{
    content:"—";
  }
/*------------------------------------*\
    code
\*------------------------------------*/
pre,code,samp,kbd{
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;;
}
pre {
  overflow: auto;
}
  pre,
  pre code {
    background-color: hsl(0,0%,13%);
    color: hsl(0,0%,87%);
  }
  pre mark {
    border-bottom: 2px solid;
    background: none;
    color: hsl(0,0%,100%);
  }
.code-comment {
  color: hsl(0,0%,47%);
}
code,
samp,
kbd {
  color: hsl(351,80%,38%);
}

/*------------------------------------*\
    headings
\*------------------------------------*/
/**
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=h3` to a `h3`; a double-stranded
 * heading hierarchy.
 *
 * Ratio calculated with: http://www.pearsonified.com/typography/
 * For optimal legibility.
 */
h1,.h1,h2,.h2,h3,.h3,
h4,.h4,h5,.h5,h6,.h6 {
  text-rendering: optimizelegibility;
  font-weight:normal;
}
h1,.h1{
  font-size: 2.625em; /* 42px */
  font-size: 2.625rem;
  line-height: 1em;
  margin-bottom: 26px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2,.h2{
  font-size: 2em;     /* 32px */
  font-size: 2rem;
  line-height: 1em;
  margin-bottom: 26px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3,.h3{
  font-size: 1.625em; /* 26px */
  font-size: 1.625rem;
  line-height: 1em;
  margin-bottom: 26px;
}
h4,.h4{
  font-size: 1.25em;  /* 20px */
  font-size: 1.25rem;
  line-height: 1em;
  margin-bottom: 26px;
}
h5,.h5{
  font-size: 1.125em; /* 18px */
  font-size: 1.125rem;
  line-height: 1em;
  margin-bottom: 26px;
}
h6,.h6{
  font-size: 1em;     /* 16px */
  font-size: 1rem;
  line-height: 1em;
  margin-bottom: 26px;
}
h1 small,
h2 small {
  font-weight: normal;
  color: hsl(0,0%,47%);
}

p,
article > footer {
  margin-bottom: 26px;
}
/*------------------------------------*\
    links
\*------------------------------------*/
/**
 * Sometimes, particularly on larger projects, it is useful to scope link
 * styling only to anchors which have `href` attributes.
 */
a{
  color: hsl(351,80%,38%);
  border-bottom: 3px solid transparent;
  
  -webkit-transition:color .2s linear, background .2s linear, border .2s linear;
	-moz-transition:color .2s linear, background .2s linear, border .2s linear;
	transition:color .2s linear, background .2s linear, border .2s linear;
}
  a:hover,
  a:active,
  a:focus{
    text-decoration:none;
    border-color: hsl(351,80%,48%);
  }
  a:active,
  a:focus{
    outline:none;
  }
  /**
    * Visually show the 'click'
    */
  a:active {
    position: relative;
    top: 1px;
  }
  /**
    * Make the visited state nicer
    */
  a:visited {
    
  }

h1 a, h2 a {
  display: inline-block;
  padding-bottom: 6px;
  border-color: #E7CD4D;
  border-width: 4px;
}
h1 a:hover, h2 a:hover {
  border-color: hsl(351,80%,48%);
}
  
/*------------------------------------*\
    lists
\*------------------------------------*/
ul, 
ol {
  margin-bottom: 26px;
  padding-left: 26px;
}
/**
 * Remove vertical spacing from nested lists.
 */
li{
  line-height:26px;
  > ul,
  > ol{
    margin-bottom:0;
  }
}
/*------------------------------------*\
    images
\*------------------------------------*/
img {
  max-width: 100%;
  height: auto;
}
svg:not(:root) {
  overflow: hidden;
}
figure > img {
  display: block;
}
figure figcaption {
  display: block;
  font-weight: normal;
  color: hsl(0,0%,47%);
}
/*------------------------------------*\
   helper
\*------------------------------------*/
/**
 * Hide content off-screen without resorting to `display:none;`
 */
.h {
  position: absolute;
  left: -99999px;
  top: -99999px;
}
[dir=rtl] .h {
  left: auto;
  right: -99999px;
  top: -99999px;
}
/**
 * Easy method for hiding or showing elements on small devices
 * .d = only on desktop
 * .m = only on small screens
 */
.d {
  position: absolute;
  left: -99999px;
  top: -99999px;
}
@media (min-width: 481px) {
  .m {
    position: absolute;
    left: -99999px;
    top: -99999px;
  }
  .d {
    position: static;
  }
}
/**
 * Easy method for hiding or showing elements on print screens
 * .p = only on print
 * .np = only on screen
 */
.p {
  position: absolute;
  left: -99999px;
  top: -99999px;
}
@media print {
  .np {
    position: absolute;
    left: -99999px;
    top: -99999px;
  }
  .p {
    position: static;
  }
}
/*------------------------------------*\
    layout
\*------------------------------------*/
html {
  border-left: 2em solid hsl(351,80%,48%);
  padding: 2em 2em 2em 1em;
}
body {
  margin: 0 auto;
  max-width: 685px;
}
footer {
  color: hsl(0,0%,47%);
  font-size: 0.8125em; /* 13px */
  font-size: 0.8125rem;
  line-height: 1.625em;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  margin-bottom: 2em;
}
.ikalator {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  border-color: #E7CD4D;
}

.nav-btn {
  display: inline-block;
  width: 2em;
  padding: 0.4em;
  color: hsl(351,80%,48%);
  border: 2px solid hsl(351,80%,48%);
  vertical-align: middle;
}
.nav-btn:hover,
.nav-btn:focus {
  border-color: hsl(351,80%,38%);
}
.nav-btn i {
  display: block;
  height: 3px;
  background: hsl(351,80%,48%);
  margin-bottom: 3px;
}
.nav-btn:hover i,
.nav-btn:focus i {
  background: hsl(351,80%,38%);
}
.nav-btn i:last-child {
  margin-bottom: 0;
}

.top-btn {
  display: inline-block;
  vertical-align: middle;
  color: #E7CD4D;
  border: 2px solid #E7CD4D;
  padding: 0.4em;
}
.top-btn:hover,
.top-btn:focus {
  color: hsl(351,80%,48%);
  border-color: hsl(351,80%,48%);
}
/*------------------------------------*\
   print
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  @page  {
    margin: 0.5cm;
  }
  h2,
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  pre,
  blockquote {
    border: 1px solid hsl(0,0%,47%);
    page-break-inside: avoid;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
}