---
---

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- meta -->
  <meta charset="UTF-8">
  {% include mobile_meta.html %}
  
  <!-- dns prefetch for faster loading of external resources -->
  {% include dns_prefetch.html %}
  
  <title>ikalator.com</title>
  <meta name="author" content="Rikki Bochow">
  <meta name="description" content="Learnings about Front-end and Drupal development">
  
  <!-- stylesheet -->
  <link rel="stylesheet" href="css/ikalator.css">
  
  <!-- javascript -->
  {% include javascript.html %}
    
</head>
<body id="ikalator">
  
  <header role="banner">
    
    <a href="/index.html" rel="home">ikalator</a> 
    <a href="#nav" id="nav-btn">Article navigation</a>
    
  </header>
    
  <main role="main" class="wrapper">

    <section class="intro">
      
      <h1>Hi, I'm Rikki</h1>
      
      <p>I'm a designer, front-end developer, Drupal site builder and (simple) module developer. I work at <a href="http://weaveweb.com.au">Weave Web</a>.</p>
      
      <p>This is an open source design project and technical blog. See the <a href="https://github.com/rikki-iki/ikalator.github.com/issues">GitHub issue tracker</a> for details about it's development and progress.</p>
      
    </section>
    
    <section itemscope itemtype="http://schema.org/Blog" class="articles">
    
      <h1 itemprop="name">Articles</h1>
      
      {% for post in site.posts %}

      <article role="article" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

        <h1 itemprop="name" class="h2"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h1>
        <p itemprop="description">{{ post.excerpt }}</p>
        <footer><time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date_to_long_string }}</time></footer>

      </article>
      
      {% endfor %}
    
    </section>
  
  </main>
  
  <nav id="nav" role="navigation" aria-labelledby="nav-btn">
  
    {% include nav.html %}
    
  </nav>
  
  <footer role="contentinfo">
    
    {% include footer.html %}
    
  </footer>

</body>
</html>
