<!DOCTYPE html>
<html lang="en">
<head>

  <!-- meta -->
  <meta charset="UTF-8">
  {% include mobile_meta.html %}
  
  <!-- dns prefetch for faster loading of external resources -->
  {% include dns_prefetch.html %}
  
  <title>ikalator.com</title>
  <meta name="author" content="Rikki Bochow">
  <meta name="description" content="Learnings about Front-end and Drupal development">
  
  <!-- stylesheet: coming soon! -->
  
  <!-- javascript -->
  {% include javascript.html %}
    
</head>
<body id="ikalator">
  
  <header role="banner">
    
    <a href="/index.html" rel="home">Rikki Bochow</a>
    
  </header>
    
  <main role="main" class="wrapper">

    <section class="intro">
      
      <h1>Hi, I'm Rikki</h1>
      <p>I need to write some introductory text</p>
      
    </section>
    
    <section class="articles">
    
      <h1>Articles</h1>

      <article role="article" itemscope itemtype="http://schema.org/Blog">

        <h1 itemprop="name"><a href="article.html" itemprop="url">Article title</a></h1>
        <p itemprop="description">Article excerpt</p>
        <footer><time datetime="2013-00-00" itemprop="datePublished">00/00/2013</time></footer>

      </article>
      
      <article role="article" itemscope itemtype="http://schema.org/BlogPosting">

        <h1 itemprop="name"><a href="article.html" itemprop="url">Article title</a></h1>
        <p itemprop="description">Article excerpt</p>
        <footer><time datetime="2013-00-00" itemprop="datePublished">00/00/2013</time></footer>

      </article>
    
    </section>
  
  </main>
  
  <footer role="contentinfo">
    
    {% include footer.html %}
    
  </footer>

</body>
</html>
