  <!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script src="//use.typekit.net/agk8wsy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  
  <!-- asynchronous tracking code can go in the <head> -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44285853-1', 'ikalator.com');
      ga('send', 'pageview');
  </script>
  