// Colours
//
// Calculate colour contrast with: http://leaverou.github.io/contrast-ratio
// to ensure accessibility is good.

// Base Colors
$white:             #ffffff;
$black:             #111111;
$grey--off-white:   #efefef;
$grey--dark:        hsl(0,0%,35%);
$grey--light:       #e3e5bf;

// Brand Colors
$brand-primary:    #239186;
$brand-secondary:  #173862;
$brand-contrast:   #ffdd15;

// Semantic Colors
$body-background-color:     $white;
$base-font-color:           $brand-secondary;

$border-color:              $grey--light;
$border-color--featured:    $brand-primary;

$title-color:               $brand-primary;
$heading-color:             $brand-secondary;

$link-color:                $brand-primary;
$link-color--focus:         $brand-secondary;
$link-color--visited:       $link-color;
