// Layout
//

*, *:before, *:after {
  @include box-sizing;
}

html {
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
  min-height:100%;
  background: $body-background-color image_url('bg--body.jpg');
}
