// Links
//

a {
  @extend %underline-on-hover;
  @include single-transition(all, .2s, linear);
  color: $link-color;
  @if support-legacy-browser(ie, '10') {
    // Remove the gray background color from active links in IE 10.
    background-color: transparent;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: $link-color--focus;
    border-color: currentColor;
  }

  &:visited {
    color: $link-color--visited;
    border-color: currentColor;
  }

  &:active {
    // Visually show the click
    position: relative;
    top: 1px;
  }

  ul,ol,h1,h2,h3,h4,h5,h6,
  div,article {
    color: inherit;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: inherit;
      top: none;
    }
  }
}
