// Links
//

a {
  @include single-transition(all, .2s, linear);
  color: $link-color;
  border-bottom: 2px solid $link-color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    background-color: $link-color--focus;
  }

  &:active {
    // Visually show the click
    position: relative;
    top: 1px;
  }

  ul,ol,h1,h2,h3,h4,h5,h6,
  div,article {
    color: inherit;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: inherit;
      top: none;
    }
  }
}
