// Typography
//

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  @include adjust-leading-to(1);
  font-family: $body-font; /* 1 */
  font-size: 100% * ($base-font-size / 16px); /* 3 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  color: $base-font-color;
}

// All headings
@include headings(1, 6){
  @include font-heading;
  color: $heading-color;
  @include margin-leader(1, $base-font-size);
  @include margin-trailer(1, $base-font-size);

  a {
    @extend %underline-on-hover;
    text-decoration: none;
    font-weight: inherit;
    color: inherit;
  }

  small {
    color: $grey--light;
  }
}

// Specific headings
h1, .h1 {
  @extend %font-size-lrg;
  color: $title-color;
  text-transform: uppercase;
}
h2, .h2 {
  @extend %font-size-lrg;
  @include font-decorative;
}
h3, .h3 {
  @extend  %font-size-med;
}
h4, .h4 {
  @extend %font-size-med;
}
h5, .h5 {
  @extend %font-size-med;
}
h6, .h6 {
  @extend %font-size-norm;
}
small {
  @extend %font-size-small;
}


// Paragraphs
p {
  @include margin-leader(1, $base-font-size);
  @include margin-trailer(1, $base-font-size);
}

// Set the colour for highlighted text
::selection {
  background-color: $brand-primary;
  color: $white;
}
::moz-selection {
  background-color: $brand-primary;
  color: $white;
}
