// Colours
//
// Calculate colour contrast with: http://leaverou.github.io/contrast-ratio
// to ensure accessibility is good.

// Base Colors
$white:             #ffffff;
$black:             #111111;
$grey--off-white:   #fdfdff;
$grey--dark:        hsl(0,0%,35%);
$grey--light:       #e3e5bf;

// Brand Colors
$brand-primary:    #00f;
$brand-secondary:  #0ff;
$brand-contrast:   #fff;

// Semantic Colors
$body-background-color:     $grey--off-white;
$base-font-color:           $brand-primary;

$border-color:              $brand-primary;
$border-color--featured:    $brand-primary;

$link-color:                $brand-primary;
$link-color--focus:         $brand-secondary;
