// Header
//
// Markup: header.html
//
// Styleguide components.header

.header,
%header {
  @extend %layout-max;
  margin-top: 3rem;
  text-align: center;

  &__logo {
    margin-bottom: .5rem;
  }

  &__title {
    @extend %element-invisible;
    margin-bottom: 0;
  }

  &__tagline {
    @include font-decorative;
    @include margin-leader(0, $base-font-size);
    @include margin-trailer(1, $base-font-size);

    b {
      @include font-bold;
    }
  }

  &__role {
    @include font-decorative;
    margin-bottom: 0;
    text-transform: lowercase;
  }

  &__social {
    font-family: $body-font;
    margin: 0;
  }
}
