<header role="banner" class="header">

  <h1 class="header__title"><a href="/index.html" class="ikalator" rel="home">ikalator</a></h1>

  <p class="header__tagline">aka <b>rikki_iki</b>. aka <b>loco_bochow</b></p>

  <p class="header__role">Designer &amp; Front-end Developer</p>

  <p class="header__social">
    <a href="http://drupal.org/u/rikki-iki/">Drupal</a> /
    <a href="http://github.com/rikki-iki/">GitHub</a> /
    <a href="http://instagram.com/rikki_iki/">Instagram</a> /
    <a href="http://www.pinterest.com/rikkiki/">Pinterest</a> /
    <a href="http://twitter.com/rikki_iki">Twitter</a> /
    <a href="http://last.fm/user/rikki_iki">Last.fm</a>
  </p>

</header>
