<!DOCTYPE html>
<html lang="en">
<head>

  <!-- meta -->
  <meta charset="UTF-8">
  {% include mobile_meta.html %}
  
  <!-- dns prefetch for faster loading of external resources -->
  {% include dns_prefetch.html %}
  
  <title>{{ page.title }} &#8212; ikalator.com</title>
  <meta name="author" content="Rikki Bochow">
  <meta name="description" content="{{ page.excerpt }}">
  
  <!-- stylesheet: coming soon! -->
  
  <!-- javascript -->
  {% include javascript.html %}
    
</head>
<body id="ikalator">
  
  <header role="banner">
    
    <a href="/index.html" rel="home">Rikki Bochow</a>
    
  </header>
    
  <main role="main" class="wrapper">
    
    <article role="article">
    
      <header>
      
        <h1>{{ page.title }}</h1>
        <p>{{ page.excerpt }}</p>
      
      </header>
      
      {{ page.content }}
      
      <footer>
      
        <p>Posted: <time datetime="{{ page.date }}">{{ page.date | date_to_long_string }}</time></p>
        <p>Author: <a href="http://twitter.com/rikki_iki" rel="me">Rikki Bochow</a></p>
        
      </footer>

    </article>
  
  </main>
  
  <footer role="contentinfo">
    
    {% include footer.html %}
    
  </footer>

</body>
</html>
