// Form elements
//
// Styling for the specific form elements
//
// Markup: form.html
//
// Styleguide: components.form

%form,
.form {
  @extend %layout-max;
  @extend %spacer--large;
}

%form__title,
.form__title {
  @extend .h3;
  color: $base-font-color;
}

%form__label,
.form__label {
  font-weight: 500;
  color: $black;
}

.form__label--inline,
%form__label--inline {
  font-weight: 300;
  display: inline;
}

.form__label__required,
%form__label__required {
  color: $brand-contrast;
}

%form__input,
.form__input {
  @include single-box-shadow(0, 2px, 2px, 0, darken($grey--off-white, 5%), true);
  border: 1px solid $grey--light;
  background-color: $grey--off-white;

  &:focus {
    border-color: $link-color--focus;
  }

  &:active {
    border-color: $link-color--focus;
  }

  &.has-error {
    border-color: $brand-contrast;
  }
}

%form__input--textarea,
.form__input--textarea {
  @extend %form__input;
}

%form__item,
.form__item {
  @extend %spacer--bottom;
  max-width: $medium;
}

%form__item--inline,
.form__item--inline {
  display: inline-block;
  margin: 0 2rem 0 0;
}

%form__group,
.form__group {
  @extend %spacer;
  max-width: $medium;
  margin-bottom: 1rem;
  background-color: $grey--off-white;
}

%form__group--top-arrow,
.form__group--top-arrow {
  @extend %form__group;
  position: relative;

  &:before {
    content: '';
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    border-bottom-color: $grey--off-white;
    border-width: 15px;
    margin-left: -15px;
  }
}

// Fugly.
.webform-client-form {
  @extend %form;
}

.form-item {
  @extend %form__item;
}

label .form-required {
  @extend %form__label__required;
}

.form-type-checkbox,
.form-type-radio {
  padding-bottom: 0 !important;

  label {
    @extend %form__label--inline;
  }
}

.form-type-radio {
  @extend %form__item--inline;
}

.form-actions {
  @extend %spacer--top;
}
