// List Inline
//
// Markup: list-inline.html
//
// Styleguide 3.26

%list-inline,
.list-inline {
  margin: 0;
  padding: 0;

  &__wrapper {
    &,
    ul,
    ol {
      @extend %list-inline;
    }
  }

  &__item,
  li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem 1rem 0;

    &--even-padding {
      @extend %list-inline__item;
      margin: .5rem;
    }
  }

  &--even-padding {
    @extend %list-inline;

    li {
      @extend %list-inline__item--even-padding;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
